openapi: 3.0.3
info:
  title: Desarrolla360 Empresas API
  version: "1.0.0"
  description: >
    Internal API surface for the Desarrolla360 B2B training portal. Every route here
    is consumed either by the portal's own frontend, by Vercel Cron, or by the
    Tutor LMS / WordPress bridge plugin — none of it is a public product API.
servers:
  - url: https://empresas.desarrolla360.com
    description: Production
tags:
  - name: Auth
  - name: Health
  - name: Internal Search
  - name: Notifications
  - name: Certificates
  - name: Company
  - name: Employee
  - name: Uploads
  - name: WordPress Bridge
  - name: Cron
  - name: Webhooks
  - name: WordPress Bridge Plugin
    description: >
      Custom REST routes registered by the `desarrolla360-bridge` WordPress plugin
      (source in `wordpress-plugin/`), running on the client's WordPress site —
      not on this portal. Called by `lib/wordpress-bridge.ts`.

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: authjs.session-token
      description: >
        NextAuth v5 session cookie, set on login. The endpoint additionally
        requires the session's role to match what's listed below.
    cronSecret:
      type: http
      scheme: bearer
      description: >
        `Authorization: Bearer <CRON_SECRET>`. Accepts `CRON_SECRET`,
        `BACKGROUND_SYNC_SECRET`, or `SYNC_JOBS_SECRET`. An `x-sync-secret`
        header with the same value also works.
    webhookSignature:
      type: apiKey
      in: header
      name: x-d360-webhook-signature
      description: >
        HMAC-SHA256 of `{timestamp}.{rawBody}` using `BRIDGE_WEBHOOK_SECRET`,
        hex-encoded. Sent alongside `x-d360-webhook-timestamp` (Unix seconds,
        must be within 10 minutes of the server clock).
    portalKey:
      type: apiKey
      in: header
      name: X-D360-Portal-Key
      description: >
        Shared secret configured in the plugin's settings page (`WP_BRIDGE_PORTAL_KEY`
        on the portal side). `Authorization: Bearer <key>` with the same value also
        works. A logged-in WordPress admin (`manage_options`) is accepted too.

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

    SessionUser:
      type: object
      properties:
        id: { type: string, format: uuid }
        role: { type: string, enum: [SUPERADMIN, HR, EMPLOYEE] }
        empresa_id: { type: string, format: uuid, nullable: true }
        nombre: { type: string }
        empresa: { type: string, nullable: true }
        empresa_slug: { type: string, nullable: true }
        name: { type: string, nullable: true }
        email: { type: string, nullable: true }
        image: { type: string, nullable: true }

    Notification:
      type: object
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        type: { type: string }
        title: { type: string }
        message: { type: string }
        read: { type: boolean }
        entity_type: { type: string, nullable: true }
        entity_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }

    BridgeCourseOption:
      type: object
      properties:
        wp_course_id: { type: integer }
        title: { type: string }
        status: { type: string, nullable: true }
        post_type: { type: string, nullable: true }
        course_url: { type: string, nullable: true }
        thumbnail_url: { type: string, nullable: true }

    BridgeCourseDetails:
      type: object
      properties:
        wp_course_id: { type: integer }
        title: { type: string }
        status: { type: string, nullable: true }
        post_type: { type: string, nullable: true }
        course_url: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        instructor_name: { type: string, nullable: true }
        instructor_signature_url: { type: string, nullable: true }
        training_agent_name: { type: string, nullable: true }
        training_agent_registry: { type: string, nullable: true }
        duration_hours: { type: number, nullable: true }
        duration_label: { type: string, nullable: true }
        thematic_area_name: { type: string, nullable: true }
        thematic_area_code: { type: string, nullable: true }
        category_names:
          type: array
          items: { type: string }
        tutor_course_payload:
          type: object
          nullable: true

    BridgeStudentCourse:
      type: object
      properties:
        wp_course_id: { type: integer }
        title: { type: string }
        progress_pct: { type: number }
        completed: { type: boolean }
        started_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        certificate_url: { type: string, nullable: true }
        raw:
          type: object
          nullable: true

    BridgeStudentCertificate:
      type: object
      properties:
        wp_course_id: { type: integer }
        title: { type: string }
        certificate_url: { type: string, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }

    BridgeEnsureAccessResponse:
      type: object
      properties:
        student_id: { type: integer }
        completed_course_ids:
          type: array
          items: { type: integer }
        already_active_ids:
          type: array
          items: { type: integer }
        failed_course_ids:
          type: array
          items:
            type: object
            properties:
              course_id: { type: integer }
              message: { type: string }

    BridgeBundle:
      type: object
      properties:
        bundle_id: { type: integer }
        title: { type: string }
        post_type: { type: string }
        status: { type: string }
        visibility: { type: string, enum: [private, public] }
        permalink: { type: string }
        course_ids:
          type: array
          items: { type: integer }
        warning: { type: string, description: "Present when the write partially failed but recovered." }
        recovered: { type: boolean }

  parameters:
    q:
      name: q
      in: query
      schema: { type: string }
      description: Search text. Results are empty for queries shorter than 2 characters.

paths:
  /api/auth/csrf:
    get:
      tags: [Auth]
      summary: Get a CSRF token
      description: >
        Must be fetched first and its value submitted as `csrfToken` on both
        the sign-in and sign-out requests below.
      security: []
      responses:
        "200":
          description: A fresh CSRF token, also set as a cookie.
          content:
            application/json:
              schema:
                type: object
                properties:
                  csrfToken: { type: string }

  /api/auth/providers:
    get:
      tags: [Auth]
      summary: List configured auth providers
      security: []
      responses:
        "200":
          description: Only `credentials` is configured — this portal has no OAuth providers.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    id: { type: string }
                    name: { type: string }
                    type: { type: string }

  /api/auth/session:
    get:
      tags: [Auth]
      summary: Get the caller's current session
      security: [{ sessionCookie: [] }]
      responses:
        "200":
          description: The session, or an empty object if not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: "#/components/schemas/SessionUser" }
                  expires: { type: string, format: date-time }

  /api/auth/callback/credentials:
    post:
      tags: [Auth]
      summary: Sign in with email and password
      description: >
        Requires a Cloudflare Turnstile token — logins without one are rejected
        even in local development. On success, sets the session cookie and
        redirects to `callbackUrl`; on failure, redirects to `/login` with an
        `error` query param.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [email, password, turnstileToken, csrfToken]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                turnstileToken:
                  type: string
                  description: Token from the Cloudflare Turnstile widget on `/login`.
                csrfToken:
                  type: string
                  description: Value obtained from `GET /api/auth/csrf`.
                callbackUrl:
                  type: string
                  description: Where to redirect on success.
      responses:
        "302":
          description: >
            Redirects to `callbackUrl` on success. On failure, redirects to
            `/login?error=<code>`, where `<code>` is `CredentialsSignin`
            (bad email/password/captcha), `cuenta_pendiente_activacion`
            (account not yet activated), `empresa_suspendida`, or
            `empresa_vencida`.

  /api/auth/signout:
    post:
      tags: [Auth]
      summary: Sign out
      security: [{ sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [csrfToken]
              properties:
                csrfToken:
                  type: string
                  description: Value obtained from `GET /api/auth/csrf`.
      responses:
        "302":
          description: Session cookie cleared, redirects to the sign-out confirmation page.

  /api/health:
    get:
      tags: [Health]
      summary: Deployment health check
      description: Verifies that required environment variables are present. No auth required.
      security: []
      responses:
        "200":
          description: All required environment variables are set.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, enum: [true] }
        "503":
          description: One or more required environment variables are missing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, enum: [false] }
                  missing:
                    type: array
                    items: { type: string }

  /api/internal/superadmin-search:
    get:
      tags: [Internal Search]
      summary: Global search (companies, employees, packages)
      security: [{ sessionCookie: [SUPERADMIN] }]
      parameters:
        - $ref: "#/components/parameters/q"
      responses:
        "200":
          description: Matching records, up to 5 companies, 5 employees, 3 packages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        name: { type: string }
                        active: { type: boolean }
                  employees:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        first_name: { type: string }
                        last_name: { type: string }
                        email: { type: string }
                        company:
                          type: object
                          properties:
                            name: { type: string }
                  packages:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        name: { type: string }
                        active: { type: boolean }
        "401":
          description: Not authenticated, or not a SUPERADMIN.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/internal/hr-search:
    get:
      tags: [Internal Search]
      summary: Search within the caller's company (employees, courses)
      security: [{ sessionCookie: [HR] }]
      parameters:
        - $ref: "#/components/parameters/q"
      responses:
        "200":
          description: Matching employees (up to 5) and package courses (up to 4) for the caller's company.
          content:
            application/json:
              schema:
                type: object
                properties:
                  employees:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        first_name: { type: string }
                        last_name: { type: string }
                        email: { type: string }
                        department: { type: string, nullable: true }
                  courses:
                    type: array
                    items:
                      type: object
                      properties:
                        wp_course_id: { type: integer }
                        course_name: { type: string }
        "401":
          description: Not authenticated, not HR, or no company on the session.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/internal/employee-search:
    get:
      tags: [Internal Search]
      summary: Search the caller's own courses and certificates
      security: [{ sessionCookie: [EMPLOYEE] }]
      parameters:
        - $ref: "#/components/parameters/q"
      responses:
        "200":
          description: Matching courses (up to 5) and certificates (up to 3) belonging to the caller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  courses:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        course_name: { type: string }
                        progress_pct: { type: number }
                        completed: { type: boolean }
                  certificates:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        course_name: { type: string }
                        reference_number: { type: string }
        "401":
          description: Not authenticated or not an EMPLOYEE.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/internal/notifications:
    get:
      tags: [Notifications]
      summary: Recent notifications for the caller
      security: [{ sessionCookie: [] }]
      responses:
        "200":
          description: Up to 20 most recent notifications, plus the unread count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Notification" }
                  unreadCount: { type: integer }
        "401":
          description: Not authenticated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    patch:
      tags: [Notifications]
      summary: Mark all of the caller's notifications as read
      security: [{ sessionCookie: [] }]
      responses:
        "200":
          description: All unread notifications for the caller were marked read.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, enum: [true] }
        "401":
          description: Not authenticated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/certificates/{id}/dc3:
    get:
      tags: [Certificates]
      summary: Download a certificate's official DC-3 PDF
      description: >
        Generates (or reuses a cached) DC-3 PDF for one certificate. Accessible to the
        certificate's own employee, the HR of the owning company, or a SUPERADMIN.
      security: [{ sessionCookie: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: download
          in: query
          schema: { type: string, enum: ["1"] }
          description: "Set to `1` to force `Content-Disposition: attachment` instead of `inline`."
      responses:
        "200":
          description: The DC-3 PDF.
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "400":
          description: Invalid certificate id.
        "401":
          description: Not authenticated.
        "403":
          description: Authenticated, but not the certificate owner, their HR, or a SUPERADMIN.
        "404":
          description: Certificate not found.
        "422":
          description: The course is missing DC-3 metadata (duration, thematic area, instructor, etc).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  missing:
                    type: array
                    items: { type: string }

  /api/certificates/zip:
    get:
      tags: [Certificates]
      summary: Download certificates as a ZIP
      description: >
        For an EMPLOYEE, zips all of their own certificates. For HR, zips the
        company's issued certificates, optionally filtered by `q`, `dept`, `course`.
        Not available to SUPERADMIN. Capped at 100 certificates per request.
      security: [{ sessionCookie: [HR, EMPLOYEE] }]
      parameters:
        - $ref: "#/components/parameters/q"
        - name: dept
          in: query
          schema: { type: string }
          description: HR only — filter by department.
        - name: course
          in: query
          schema: { type: string }
          description: HR only — filter by course name.
      responses:
        "200":
          description: A ZIP of DC-3 PDFs, named `<folio>.pdf` each.
          content:
            application/zip:
              schema: { type: string, format: binary }
        "401":
          description: Not authenticated.
        "403":
          description: Caller is a SUPERADMIN, which has no certificates of its own.
        "404":
          description: No certificates matched.
        "500":
          description: No PDF could be generated for any matched certificate.

  /api/company/empleados/export:
    get:
      tags: [Company]
      summary: Export the company's employees as CSV
      security: [{ sessionCookie: [HR] }]
      parameters:
        - $ref: "#/components/parameters/q"
        - name: status
          in: query
          schema: { type: string }
          description: Employee status filter (active/suspended).
      responses:
        "200":
          description: UTF-8 CSV with a BOM, one row per matching employee.
          content:
            text/csv:
              schema: { type: string }
        "401":
          description: Not authenticated, not HR, or no company on the session.
        "404":
          description: Company not found.

  /api/employee/learning/refresh:
    post:
      tags: [Employee]
      summary: Force-refresh the caller's course progress from Tutor LMS
      security: [{ sessionCookie: [EMPLOYEE] }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Bypasses the normal staleness check. Still cooled down to one force-sync per 30s.
      responses:
        "200":
          description: Sync outcome.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  synced: { type: boolean }
                  skipped: { type: boolean }
                  employeeId: { type: string, format: uuid, nullable: true }
                  companyId: { type: string, format: uuid, nullable: true }
                  coursesUpdated: { type: integer }
                  certificatesUpdated: { type: integer }
                  latestSyncAt: { type: string, format: date-time, nullable: true }
                  message: { type: string }
        "401":
          description: Not authenticated or not an EMPLOYEE.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/templates/employees-csv:
    get:
      tags: [Company]
      summary: Download the CSV template for bulk employee upload
      security: [{ sessionCookie: [] }]
      responses:
        "200":
          description: A sample CSV with the expected columns and two example rows.
          content:
            text/csv:
              schema: { type: string }
        "401":
          description: Not authenticated.

  /api/upload/company-logo:
    post:
      tags: [Uploads]
      summary: Upload a company's logo
      description: Resizes to 256x256 PNG and stores it in Vercel Blob.
      security: [{ sessionCookie: [SUPERADMIN] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, companyId]
              properties:
                file:
                  type: string
                  format: binary
                  description: PNG, JPEG, or WebP, up to 2 MB.
                companyId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Logo stored.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url: { type: string }
        "400":
          description: Missing/invalid file, invalid companyId, wrong format, or file too large.
        "401":
          description: Not authenticated or not a SUPERADMIN.

  /api/upload/instructor-signature:
    post:
      tags: [Uploads]
      summary: Upload an instructor's signature image
      description: Flattens to a white background PNG and stores it in Vercel Blob.
      security: [{ sessionCookie: [SUPERADMIN] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, wpCourseId]
              properties:
                file:
                  type: string
                  format: binary
                  description: PNG, JPEG, or WebP, up to 2 MB.
                wpCourseId:
                  type: integer
                nombre:
                  type: string
                  description: Optional display name used to derive the stored filename.
      responses:
        "200":
          description: Signature stored.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url: { type: string }
        "400":
          description: Missing/invalid file, invalid wpCourseId, wrong format, or file too large.
        "401":
          description: Not authenticated or not a SUPERADMIN.

  /api/upload/signature-proxy:
    get:
      tags: [Uploads]
      summary: Proxy a private Vercel Blob image through an authenticated request
      description: Only accepts URLs on the `vercel-storage.com` domain.
      security: [{ sessionCookie: [] }]
      parameters:
        - name: url
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: The proxied image bytes.
          content:
            image/*:
              schema: { type: string, format: binary }
        "400":
          description: Missing or invalid (non-Vercel-Blob) URL.
        "401":
          description: Not authenticated.
        "500":
          description: Blob token not configured, or upstream fetch failed.

  /api/wordpress/courses:
    get:
      tags: [WordPress Bridge]
      summary: List the Tutor LMS course catalog
      description: Proxies the WordPress bridge plugin's course list, cached 10 minutes.
      security: [{ sessionCookie: [SUPERADMIN] }]
      responses:
        "200":
          description: Course catalog.
          content:
            application/json:
              schema:
                type: object
                properties:
                  courses:
                    type: array
                    items: { $ref: "#/components/schemas/BridgeCourseOption" }
                  total: { type: integer }
        "400":
          description: WordPress bridge not configured.
        "401":
          description: Not authenticated or not a SUPERADMIN.
        "500":
          description: The bridge request failed.

  /api/wordpress/courses/{courseId}:
    get:
      tags: [WordPress Bridge]
      summary: Get one Tutor LMS course's details
      security: [{ sessionCookie: [SUPERADMIN, HR] }]
      parameters:
        - name: courseId
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Course detail.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BridgeCourseDetails" }
        "400":
          description: Invalid courseId, or WordPress bridge not configured.
        "401":
          description: Not authenticated, or not SUPERADMIN/HR.
        "500":
          description: The bridge request failed.

  /api/wordpress/diagnostics:
    get:
      tags: [WordPress Bridge]
      summary: Get a student's Tutor LMS enrollment/progress diagnostics
      description: >
        HR callers may only query students (`wp_user_id`) that belong to their own
        company; the endpoint checks that server-side.
      security: [{ sessionCookie: [SUPERADMIN, HR] }]
      parameters:
        - name: studentId
          in: query
          required: true
          schema: { type: integer }
        - name: courseId
          in: query
          schema: { type: integer }
      responses:
        "200":
          description: Diagnostics payload as returned by the bridge plugin.
          content:
            application/json:
              schema: { type: object }
        "400":
          description: Missing studentId, or WordPress bridge not configured.
        "401":
          description: Not authenticated, or not SUPERADMIN/HR.
        "403":
          description: HR caller querying a student outside their company.
        "500":
          description: The bridge request failed.

  /api/cron/process-jobs:
    get:
      tags: [Cron]
      summary: Process a batch of pending background jobs
      description: Vercel Cron calls this via GET every minute; POST is kept for manual/external schedulers.
      security: [{ cronSecret: [] }]
      responses:
        "200":
          description: Batch result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, enum: [true] }
                  processed: { type: integer }
                  errored: { type: integer }
                  skipped: { type: integer }
                  total: { type: integer }
        "401":
          description: Missing or invalid cron secret.
    post:
      tags: [Cron]
      summary: Process a batch of pending background jobs (manual trigger)
      security: [{ cronSecret: [] }]
      responses:
        "200":
          description: Same shape as GET.
        "401":
          description: Missing or invalid cron secret.

  /api/cron/check-expiring-packages:
    get:
      tags: [Cron]
      summary: Notify companies whose package is about to expire
      security: [{ cronSecret: [] }]
      responses:
        "200":
          description: Notifications sent (if any were due).
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, enum: [true] }
        "401":
          description: Missing or invalid cron secret.

  /api/cron/bridge-health:
    get:
      tags: [Cron]
      summary: Check WordPress bridge health and alert superadmins if degraded
      description: Alerts are cooled down to once every 6 hours per issue.
      security: [{ cronSecret: [] }]
      responses:
        "200":
          description: Health check result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  healthy: { type: boolean }
                  skipped: { type: string }
                  alert_skipped: { type: string }
                  problems:
                    type: array
                    items: { type: string }
        "401":
          description: Missing or invalid cron secret.

  /api/internal/sync/employee-learning:
    get:
      tags: [Cron]
      summary: Sync a batch of stale employees' learning data from Tutor LMS
      description: >
        Accepts either a cron secret or a SUPERADMIN session. Vercel Cron calls this
        via GET every 15 minutes; POST is kept for manual/external schedulers.
      security:
        - cronSecret: []
        - sessionCookie: [SUPERADMIN]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 25 }
      responses:
        "200":
          description: Batch sync result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, enum: [true] }
                  sync_interval_ms: { type: integer }
                  scanned: { type: integer }
                  queued: { type: integer }
                  results:
                    type: array
                    items: { type: object }
        "401":
          description: Missing/invalid cron secret and not a SUPERADMIN session.
    post:
      tags: [Cron]
      summary: Sync a batch of stale employees' learning data (manual trigger)
      security:
        - cronSecret: []
        - sessionCookie: [SUPERADMIN]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 25 }
      responses:
        "200":
          description: Same shape as GET.
        "401":
          description: Missing/invalid cron secret and not a SUPERADMIN session.

  /api/internal/webhooks/tutor-learning:
    post:
      tags: [Webhooks]
      summary: Receive a learning-progress snapshot pushed by the WordPress bridge plugin
      description: >
        Accepts either a single event or a batch (`events: [...]`). Deduplicates by
        `(student_wp_user_id, source_hash)`. Revalidates the affected employee and
        company pages on success.
      security: [{ webhookSignature: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type: { type: string, default: student_learning_changed }
                occurred_at: { type: string, format: date-time, nullable: true }
                student_wp_user_id: { type: integer }
                employee_id: { type: string, format: uuid, nullable: true }
                company_id: { type: string, format: uuid, nullable: true }
                source_hash: { type: string, nullable: true }
                courses:
                  type: array
                  items: { type: object }
                certificates:
                  type: array
                  items: { type: object }
                events:
                  type: array
                  description: Present for batch delivery — each item shaped like the single-event fields above.
                  items: { type: object }
      responses:
        "200":
          description: Processed (single event, or a batch with per-event results).
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, enum: [true] }
                  event_type: { type: string }
                  occurred_at: { type: string, nullable: true }
                  student_wp_user_id: { type: integer }
                  duplicate: { type: boolean }
                  coursesUpdated: { type: integer }
                  certificatesUpdated: { type: integer }
                  results:
                    type: array
                    description: Present for batch delivery.
                    items: { type: object }
        "400":
          description: Malformed JSON, or an empty `events` batch.
        "401":
          description: Missing/expired timestamp or invalid HMAC signature.
        "503":
          description: Webhook secret not configured on the portal.

  /wp-json/desarrolla360/v1/health:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    get:
      tags: [WordPress Bridge Plugin]
      summary: Plugin health check
      security: [{ portalKey: [] }]
      responses:
        "200":
          description: Plugin status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, enum: [true] }
                  plugin_version: { type: string }
                  site_url: { type: string }
                  wordpress_version: { type: string }
                  tutor_rest_available: { type: boolean }
                  service_user_configured: { type: boolean }
                  tutor_api_configured: { type: boolean }
                  learning_webhook_configured: { type: boolean }
        "401":
          description: Missing/invalid portal key.

  /wp-json/desarrolla360/v1/employees/upsert:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    post:
      tags: [WordPress Bridge Plugin]
      summary: Create or update the WordPress user for an employee
      description: Creates a `subscriber` WP user if none exists for the email, otherwise updates it.
      security: [{ portalKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, first_name, last_name]
              properties:
                email: { type: string, format: email }
                first_name: { type: string }
                last_name: { type: string }
                password: { type: string, description: "Optional — a random one is generated when creating a new user without it." }
                employee_id: { type: string, format: uuid, description: "Portal's Employee id, stored as user meta." }
                department: { type: string }
                position: { type: string }
                company:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    name: { type: string }
      responses:
        "200":
          description: The resolved WordPress user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  wp_user_id: { type: integer }
                  email: { type: string }
                  created: { type: boolean }
                  generated_password: { type: string, nullable: true }
        "400":
          description: Missing email, first_name, or last_name.
        "401":
          description: Missing/invalid portal key.

  /wp-json/desarrolla360/v1/employees/delete:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    post:
      tags: [WordPress Bridge Plugin]
      summary: Delete an employee's WordPress user
      description: Also deletes their Tutor LMS enrollment posts. Refuses to delete WordPress admins.
      security: [{ portalKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: "At least one of wp_user_id, email, or employee_id must resolve to a user."
              properties:
                wp_user_id: { type: integer }
                email: { type: string, format: email }
                employee_id: { type: string, format: uuid }
      responses:
        "200":
          description: "Deletion result (`found: false` if no matching user existed — not an error)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  found: { type: boolean }
                  deleted: { type: boolean }
                  wp_user_id: { type: integer, nullable: true }
                  email: { type: string, nullable: true }
                  enrollment_posts_deleted: { type: integer }
        "401":
          description: Missing/invalid portal key.
        "409":
          description: Target user is a WordPress administrator — deletion refused.

  /wp-json/desarrolla360/v1/courses:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    get:
      tags: [WordPress Bridge Plugin]
      summary: List the Tutor LMS course catalog
      description: Up to 200 published courses.
      security: [{ portalKey: [] }]
      responses:
        "200":
          description: Course catalog.
          content:
            application/json:
              schema:
                type: object
                properties:
                  courses:
                    type: array
                    items: { $ref: "#/components/schemas/BridgeCourseOption" }
                  total: { type: integer }
        "401":
          description: Missing/invalid portal key.
        "500":
          description: The Tutor LMS course post type isn't registered.

  /wp-json/desarrolla360/v1/courses/{course_id}:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    get:
      tags: [WordPress Bridge Plugin]
      summary: Get one course's DC-3-relevant details
      security: [{ portalKey: [] }]
      parameters:
        - name: course_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Course detail.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BridgeCourseDetails" }
        "400":
          description: Invalid course_id.
        "401":
          description: Missing/invalid portal key.

  /wp-json/desarrolla360/v1/bundles:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    post:
      tags: [WordPress Bridge Plugin]
      summary: Create a private Tutor LMS course bundle
      description: Used when a Package is configured with `PRIVATE_BUNDLE_REFERENCE` delivery mode.
      security: [{ portalKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, course_ids]
              properties:
                title: { type: string }
                description: { type: string }
                visibility: { type: string, enum: [private, public], default: private }
                course_ids:
                  type: array
                  items: { type: integer }
      responses:
        "200":
          description: The created bundle (or a recovered/pre-existing one on a retried write).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BridgeBundle" }
        "400":
          description: Missing title or course_ids, or an invalid course_id.
        "401":
          description: Missing/invalid portal key.
        "500":
          description: Unrecoverable failure creating the bundle.

  /wp-json/desarrolla360/v1/bundles/{bundle_id}:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    put:
      tags: [WordPress Bridge Plugin]
      summary: Update a bundle's course list, title, or description
      description: "Method also accepts PATCH. Only bundles the plugin created itself (`d360_managed_bundle` meta) can be updated."
      security: [{ portalKey: [] }]
      parameters:
        - name: bundle_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [course_ids]
              properties:
                title: { type: string }
                description: { type: string }
                course_ids:
                  type: array
                  items: { type: integer }
      responses:
        "200":
          description: The updated bundle.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BridgeBundle" }
        "400":
          description: Missing/invalid course_ids.
        "401":
          description: Missing/invalid portal key.
        "403":
          description: This bundle wasn't created by the portal — refused.
        "404":
          description: Bundle not found.

  /wp-json/desarrolla360/v1/bundles/{bundle_id}/diagnostics:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    get:
      tags: [WordPress Bridge Plugin]
      summary: Inspect a bundle's raw meta for troubleshooting
      security: [{ portalKey: [] }]
      parameters:
        - name: bundle_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Bundle, matching template bundle (if any), detected course ids, and its raw postmeta snapshot.
          content:
            application/json:
              schema: { type: object }
        "400":
          description: Invalid bundle_id.
        "401":
          description: Missing/invalid portal key.
        "404":
          description: Bundle not found.

  /wp-json/desarrolla360/v1/enrollments/batch:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    post:
      tags: [WordPress Bridge Plugin]
      summary: Enroll one student into multiple courses
      description: Tries direct course access first, falls back to the Tutor LMS REST enrollment endpoint per course.
      security: [{ portalKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, course_ids]
              properties:
                user_id: { type: integer }
                course_ids:
                  type: array
                  items: { type: integer }
      responses:
        "200":
          description: Per-course enrollment outcome.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id: { type: integer }
                  enrolled_course_ids:
                    type: array
                    items: { type: integer }
                  failed_course_ids:
                    type: array
                    items:
                      type: object
                      properties:
                        course_id: { type: integer }
                        message: { type: string }
        "400":
          description: Missing user_id or course_ids.
        "401":
          description: Missing/invalid portal key.

  /wp-json/desarrolla360/v1/students/{student_id}/courses:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    get:
      tags: [WordPress Bridge Plugin]
      summary: Get a student's enrolled courses with progress
      description: Falls back to direct-enrollment data if the Tutor LMS REST API call fails.
      security: [{ portalKey: [] }]
      parameters:
        - name: student_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Student's courses.
          content:
            application/json:
              schema:
                type: object
                properties:
                  student_id: { type: integer }
                  courses:
                    type: array
                    items: { $ref: "#/components/schemas/BridgeStudentCourse" }
                  raw: { type: object }
        "401":
          description: Missing/invalid portal key.

  /wp-json/desarrolla360/v1/students/{student_id}/dashboard:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    get:
      tags: [WordPress Bridge Plugin]
      summary: Proxy Tutor LMS's student dashboard endpoint
      security: [{ portalKey: [] }]
      parameters:
        - name: student_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Raw Tutor LMS dashboard payload.
          content:
            application/json:
              schema: { type: object }
        "401":
          description: Missing/invalid portal key.
        "500":
          description: The Tutor LMS REST call failed.

  /wp-json/desarrolla360/v1/students/{student_id}/certificates:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    get:
      tags: [WordPress Bridge Plugin]
      summary: Get a student's issued certificates
      description: Derived from completed courses that have a resolvable certificate URL.
      security: [{ portalKey: [] }]
      parameters:
        - name: student_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Student's certificates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  student_id: { type: integer }
                  certificates:
                    type: array
                    items: { $ref: "#/components/schemas/BridgeStudentCertificate" }
        "401":
          description: Missing/invalid portal key.

  /wp-json/desarrolla360/v1/students/{student_id}/diagnostics:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    get:
      tags: [WordPress Bridge Plugin]
      summary: Debug a student's enrollment/progress/certificate resolution
      description: Used by the portal's `/superadmin/integration` and WordPress diagnostics tooling.
      security: [{ portalKey: [] }]
      parameters:
        - name: student_id
          in: path
          required: true
          schema: { type: integer }
        - name: course_id
          in: query
          schema: { type: integer }
          description: Limit the diagnostic detail to one course.
      responses:
        "200":
          description: Diagnostic snapshot comparing the REST API, direct-enrollment, and calculated views.
          content:
            application/json:
              schema: { type: object }
        "401":
          description: Missing/invalid portal key.

  /wp-json/desarrolla360/v1/students/{student_id}/access/ensure:
    servers:
      - url: https://your-wordpress-site.com
        description: WordPress site running the desarrolla360-bridge plugin
    post:
      tags: [WordPress Bridge Plugin]
      summary: Ensure a student has direct access to a set of courses
      description: >
        Grants direct Tutor LMS course access, bypassing the enrollment flow — used
        to guarantee visibility right after enrollment.
      security: [{ portalKey: [] }]
      parameters:
        - name: student_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [course_ids]
              properties:
                course_ids:
                  type: array
                  items: { type: integer }
      responses:
        "200":
          description: Per-course access result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BridgeEnsureAccessResponse" }
        "400":
          description: Missing student_id or course_ids.
        "401":
          description: Missing/invalid portal key.
